{% extends 'base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'core/css/fazer-avaliacao.css' %}?v=1.0.0">
{% endblock styles %}

{% block content %}
<div class="form-wrapper">
    <h2>Fazer login</h2>
    <form class="evaluation-form" method="POST">
        {% csrf_token %}
        
        {{ form.username.errors }}
        {{ form.username }}

        {{ form.password.errors }}
        {{ form.password }}

        <button type="submit">Entrar</button>
    </form>
</div>
{% endblock content %}